@model IssueTracker.MVC.ViewModels.Tickets.DetailsViewModel
@using IssueTracker.MVC.ViewModels.Tickets
@using IssueTracker.MVC.Data
@using Microsoft.EntityFrameworkCore;
@inject ApplicationDbContext dbContext;
@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>Details for @Html.DisplayFor(model => model.Title)</h2>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                    <a asp-action="ManageUsers" asp-route-id="@Model.Id">Manage Users</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label asp-for="Title"></label> <br />
                            <h3>@Html.DisplayFor(model => model.Title)</h3>
                        </div>
                        <div class="col">
                            <label asp-for="Comment"></label> <br />
                            <h3>@Html.DisplayFor(model => model.Comment)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>